<nav>
    <ul>
        <li>
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<h3>Register</h3>

<form action="/register" method="POST">
    <label for="username">
        <input type="text" name="username" id="username" placeholder="Username">
    </label>
    <label for="password">
        <input type="password" name="password" id="password" placeholder="Password">
    </label>

    <button>Register</button>
</form>