<nav>
    <ul>
        <li>
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<h3>Secret Page</h3>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam repudiandae impedit minima nam et adipisci vel sapiente illum consequatur fugit vero, magni enim reprehenderit ullam dicta quod officiis itaque pariatur.</p>